body {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}
h1 {
    font-size:60px;
}
h2 {
    font-size:48px;
    font-weight:700;
    font-family: 'Lato', sans-serif;
    text-transform:none;
}

.content-wrap {
    padding:0;
}
/** NAVBAR **/

#primary-menu > ul.one-page-menu.sf-js-enabled > li > a {
    color:#6F6D6A;
}
#primary-menu > ul.one-page-menu.sf-js-enabled > li:nth-child(1) > a {
    color:#DC9B30;
    font-weight:700;
}
#primary-menu > ul.one-page-menu.sf-js-enabled > li:nth-child(2) > a {
    color:#523E14;
    font-weight:700;
}

#primary-menu > ul.one-page-menu.sf-js-enabled > li:nth-child(3) > a {
    color:#768E44;
    font-weight:700;
}
#logo img {
    padding-bottom:5px;
}

#header {
    background:#F3F3EE;
}
#header-wrap > div {
    padding-left:0 !important;
}
#header.full-header {
    border-bottom: 5px solid #DC9B30;
}

#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height:85px;
}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top:32px;
    padding-bottom:31px;
}

#header.sticky-header:not(.static-sticky) #header-wrap {
    background:#F3F3EE;
}
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    padding-bottom:0;
}

#header.sticky-header:not(.static-sticky) #header-wrap {
    border-bottom: 1px solid #EEE;
}
.device-md #primary-menu ul li > a {
    font-size:15px;
    padding-left:7.5px;
    padding-right:7.5px;
}
.device-md #header.full-header #primary-menu > ul {
    padding-right:0;
    margin-right:0;
}
@media (max-width:1030px) {
    .device-md #primary-menu ul li > a {
        font-size:14px;
    }
}
.device-sm #logo img, .device-xs #logo img, .device-xxs #logo img {
    padding-bottom:0;
}
#primary-menu-trigger {
    font-size:25px;
}
.device-xxs #primary-menu-trigger {
    left:-11%;
}

.device-sm #header, .device-xs #header, .device-xxs #header {
    background:#FFF;
}

/** SLIDER **/

#slider {
    max-height:900px;
}
#slide-1 h2, #slide-2 h2 {
    color:#768E44;
    font-size:48px;
    margin-bottom:20px;
}
#slide-3 h1 {
    color:#768E44;
    margin-bottom:0px;
}
#slide-3 > div > div > p:nth-child(2) {
    font-size:30px;
    font-weight:700;
    color:#2F393C;
    margin-bottom:30px;
}
#slide-1 p, #slide-2 p {
    color:#2F393C;
    font-size:20px;
}

.swiper-slide {
    font-family: 'Lato', sans-serif;
}
#slide-1 > div > div > p.tright.t700, #slide-2 > div > div > p.tright.t700 {
    margin-right:50px;
    color:#525959;
}
#slide-1 > div > div > p:nth-child(5) {
    margin-bottom:20px;
}
#slide-2 .slider-caption.slider-caption-right {
    margin-top:-50px;
}
#slide-3 > div > div > p:nth-child(3) {
    font-size:26px;
    color:#2F393C;
}
#slide-3 .button {
    padding:0 60px;
}
#slide-1, #slide-2, #slide-3 {
    background-position:0% 0%;
}
.device-sm #slide-3, .device-md #slide-3 {
    background-position:100% 100%;
}
.star-wrap {
    margin-bottom:20px;
}

/** PHONE SLUG **/

#phone-slug-1 {
    opacity: 0.7;
    background: #FFFFFF;
    position:absolute;
    bottom:0;
    width:100%;
}
.phone-slug {
    padding:20px 0;
}



.device-lg .phone-slug div.col-sm-6.tleft, .device-md .phone-slug div.col-sm-6.tleft, .device-sm .phone-slug div.col-sm-6.tleft {
    border-left:1px solid #0D2D3F;
    padding:8px 15px;
}
.phone-slug .button {
    margin:0;
}

.phone-slug div.col-sm-6.tright {
    margin-top:8px;
}

.device-xs .phone-slug div.col-sm-6.tright, .device-xxs .phone-slug div.col-sm-6.tright {
    text-align:center !important;
}
.device-xs .phone-slug div.col-sm-6.tleft, .device-xxs .phone-slug div.col-sm-6.tleft {
    text-align:center !important;
    border-left:none;
}
.device-xs .phone-slug h6, .device-xxs .phone-slug h6 {
    font-size:21px;
    line-height:10px;
}
.device-xs .text-phone, .device-xxs .text-phone {
    font-size:40px;
    margin-bottom:20px;
}
.device-xs .phone-slug .custom-btn, .device-xxs .phone-slug .custom-btn {
    margin-bottom:20px;
}
.device-xs .phone-slug p, .device-xxs .phone-slug p {
    font-size:16px;
}
.device-xs .phone-slug .existing-phone, .device-xxs .phone-slug .existing-phone {
    font-size:24px;
}

.device-xs .phone-slug p, .device-xxs .phone-slug p {
    line-height: 25px !important;
    text-transform: capitalize;
}

#phone-slug-1 h6, #phone-slug-1-mobile h6 {
    line-height:5px;
    font-size: 17px;
    color: #0D2D3F;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    font-weight:400;
}
#phone-slug-1 .text-phone, #phone-slug-1-mobile .text-phone {
    font-size:36px;
    font-weight:900;
    font-family: 'Lato', sans-serif;
}
.device-xs #phone-slug-1 .text-phone, #phone-slug-1-mobile .text-phone, .device-xxs #phone-slug-1 .text-phone, #phone-slug-1-mobile .text-phone {
    margin-bottom:10px;
}
#phone-slug-1 .text-phone a, #phone-slug-1-mobile .text-phone a {
    color: #0D2D3F;
}
#phone-slug-1 > div > div:nth-child(2) > div > p, #phone-slug-1-mobile > div > div:nth-child(2) > div > p {
    font-size:17px;
    color: #0D2D3F;
    margin-bottom:0;
}
#phone-slug-1 .existing-phone, #phone-slug-1-mobile .existing-phone {
    font-size:20px;
    font-weight:900;
    font-family: 'Lato', sans-serif;
}
#phone-slug-1 .existing-phone a, #phone-slug-1-mobile .existing-phone a {
    color:#0D2D3F;
}
.button-2 {
    background:#52A3BF;
}
.device-xs .button-2, .device-xxs .button-2 {
    margin-bottom:15px;
}
#phone-slug-1-mobile {
    border-bottom:5px solid #DC9B30;
}
