.font-28 {
    font-size:28px;
}
.font-26 {
    font-size:26px;
}
#primary-menu-trigger {
    font-size:40px;
}
.text-hover:hover {
    text-decoration:underline;
}
.margin-bottom-5 {
    margin-bottom:5px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-bottom-20 {
    margin-bottom:20px;
}
.margin-bottom-30 {
    margin-bottom:30px;
}

.margin-bottom-40 {
    margin-bottom:40px;
}
.margin-bottom-50 {
    margin-bottom:50px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-50 {
    margin-top:50px;
}
.padding-bottom-30 {
    padding-bottom:30px;
}
.padding-top-30 {
    padding-top:30px;
}
.padding-top-50 {
    padding-top:50px;
}
.padding-bottom-50 {
    padding-bottom:50px;
}
.padding-right-0 {
    padding-right: 0;
}
.font-64 {
    font-size:64px;
}

.font-60 {
    font-size:60px;
}
.font-16 {
    font-size:16px;
}
.font-14 {
    font-size:14px;
}

.text-white {
    color:#FFF;
}

.transform-none {
    text-transform:none !important;
}

.display-767 {
    display:none;
}
.display-991 {
    display:none;
}
.display-1200 {
    display:none;
}

@media (max-width:1200px) {
    .hide-1200 {
        display:none;
    }
    .display-1200 {
        display:inherit;
    }
}
@media (max-width:991px) {
    .display-991 {
        display:inherit;
    }
    .hide-991 {
        display:none;
    }
    .center-991 {
        text-align:center;
    }
    .center-mobile {
        text-align:center;
    }
}

@media (max-width:767px) {
    .display-767 {
        display:inherit;
    }
    .hide-767 {
        display:none;
    }
}
@media (max-width:640px) {
    .hide-640 {
        display:none;
    }
}